---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>
        <div>
            <div>
              <!-- Include the CryptoJS library for hashing the user id before sending it to the PuzzleMe server. -->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
              <!-- Include the javascript library for embedding this puzzle. -->
              <script id="pm-script" src="https://staging.amuselabs.com/tmp-issue-6011/js/puzzleme-embed.js"></script>
              <!-- Specify the Amuse Labs server name from where the puzzles will be served and trigger the embed flow. -->
              <script>
                  PM_Config.PM_BasePath = "https://staging.amuselabs.com/tmp-issue-6011/";
              </script>
              <!-- Following line embeds the picker on your page. If you want to render multiple pickers on your page then you can copy paste it multiple times. -->
              <div class="pm-embed-div" data-set="bhumika-crosswords" data-page="date-picker" data-height="700px" data-mobileMargin="10px"></div>
            </div>
        </div>
