---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>
          <div>
        <p>Crossword:</p>
          <iframe height="750px" width="100%" allow="web-share; fullscreen" style="border:none; width: 100% !important; position: static;display: block !important; margin: 0 !important;" src="https://staging.amuselabs.com/pmm/crossword?id=al-story-bhumika&set=7bafd95136b0275b52b09c2615c9ed1710f4c595b3916b67c57fd06ac5f111c0&embed=1" aria-label="Puzzle Me Game"> </iframe>
          <br>
          <br>
         </div>

        <div>
        <p>Quiz:</p>
        <iframe height="700px" width="100%" allow="web-share; fullscreen" style="border:none; width: 100% !important; position: static;display: block !important; margin: 0 !important;" src="https://staging.amuselabs.com/pmm/quiz?id=india-quiz-bhumika&set=7bafd95136b0275b52b09c2615c9ed1710f4c595b3916b67c57fd06ac5f111c0&embed=1" aria-label="Puzzle Me Game"> </iframe>
                  <br>          <br>
             </div>
        <div>
        <p>Jigsaw:</p>
        <iframe height="700px" width="100%" allow="web-share; fullscreen" style="border:none; width: 100% !important; position: static;display: block !important; margin: 0 !important;" src="https://staging.amuselabs.com/pmm/jigsaw?id=poker-invite&set=7bafd95136b0275b52b09c2615c9ed1710f4c595b3916b67c57fd06ac5f111c0&embed=1" aria-label="Puzzle Me Game"> </iframe>          <br>          <br>
 </div>
        <div>
        <p>Sudoku:</p>
        <iframe height="700px" width="100%" allow="web-share; fullscreen" style="border:none; width: 100% !important; position: static;display: block !important; margin: 0 !important;" src="https://staging.amuselabs.com/pmm/sudoku?id=numbers-time&set=7bafd95136b0275b52b09c2615c9ed1710f4c595b3916b67c57fd06ac5f111c0&embed=1" aria-label="Puzzle Me Game"> </iframe>           <br>          <br>
        </div>
        </div>
